@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
}
body {
  overscroll-behavior: none;
}

.gradient {
  height: fit-content;
  z-index: -1;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(190%);
  top: 80px;
  right: 0;
  opacity: 0.15;
}

.gradient-text-blue {
  background: linear-gradient(to right, rgb(0, 47, 167), rgb(149, 0, 198));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.task-row.red {
  background-color: #f8d7da; /* red background for pending */
}

.task-row.orange {
  background-color: #fff3cd; /* orange background for doing */
}

.task-row.green {
  background-color: #d4edda; /* green background for finished */
}
